* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(221, 221, 221);
    font-family: "Arial", sans-serif;
}

ul{
    list-style: none;
}

.header{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px black;
}

h1{
    color: white;
    padding: 0 20px;
    text-transform: lowercase;
    letter-spacing: -3px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu li a{
    padding: 17px; /* Para tornar toda a área clicável */
    color: white;
    text-decoration: none;

} 

.menu li a:hover{
    background: #1d52ff;
}

.logo span:first-child{
    color: #1d52ff;
}

.logo span:last-child{
    font-size: 18px;
    letter-spacing: normal;
}
